<p-toast></p-toast>



<p-card header="Manage your Heros">
  
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedHeros()" [disabled]="!selectedHeros|| !selectedHeros.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <!--
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        -->
       <!-- <button type="button" pButton pRipple icon="pi pi-file" (click)="heroTableEl.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button> -->
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
       <!--<button type="button" pButton pRipple icon="pi pi-filter" (click)="heroTableEl.exportCSV({ selectionOnly: true })" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
  
    </ng-template>
</p-toolbar>


<p-table
    [loading]="loadingHeroTable"
    [scrollable]="true" 
    scrollHeight="400px"
    [resizableColumns]="true" 
    columnResizeMode="expand"
    [tableStyle]="{'min-width': '50rem'}"
    #heroTableEl
    styleClass="p-datatable-sm "
    [value]="arr_heros"
    [rows]="25"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    
    [(selection)]="selectedHeros"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Search</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', heroTableEl)" placeholder="Search..." /> 
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pResizableColumn pSortableColumn="this.cols[0].field" style="min-width:15rem">{{this.cols[0].header}} <p-sortIcon [field]="this.cols[0].field"></p-sortIcon></th>
          <!--  <th>Image</th> -->
            <th pResizableColumn pSortableColumn="this.cols[1].field">{{this.cols[1].header}} <p-sortIcon [field]="this.cols[1].field"></p-sortIcon></th>
            <th pResizableColumn pSortableColumn="this.cols[2].field" style="min-width:10rem">{{this.cols[2].header}} <p-sortIcon [field]="this.cols[2].field"></p-sortIcon></th>
            <th pResizableColumn pSortableColumn="this.cols[3].field">{{this.cols[3].header}} <p-sortIcon [field]="this.cols[3].field"></p-sortIcon></th>
            <th pResizableColumn pSortableColumn="this.cols[4].field" style="min-width:10rem">{{this.cols[4].header}} <p-sortIcon [field]="this.cols[4].field"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hero>
        <tr>
            <td>
                <p-tableCheckbox [value]="hero"></p-tableCheckbox>
            </td>
            <td>{{ hero.name }}</td>
            <td>{{ hero.description }}</td>
            <td>{{ hero.gear }}</td>
            <td>
                <p-tag [value]="hero.category" [severity]="onGetSeverity(hero.category)"></p-tag>
            </td>
            <td>
                <p-rating [ngModel]="hero.rating" [readonly]="true" [cancel]="false"></p-rating>
            </td>
          
            <td>
                <button  style="width: 1.5rem; height: 1.5rem;" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success " (click)="editHero(hero)"></button>
              <!--  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="editHero(hero)"></button> -->
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">In total there are {{ arr_heros ? arr_heros.length : 0 }} Heros.</div>
    </ng-template>
</p-table>


</p-card>










