<!-- <p-dialog [(visible)]="heroDialog" [style]="{ width: '450px' }" header="hero Details" [modal]="true" styleClass="p-fluid"> -->

     <!--   <img [src]="'https://primefaces.org/cdn/primeng/images/demo/hero/' + hero.image" [alt]="hero.image" class="block m-auto pb-3" *ngIf="hero.image" /> -->
        <div class="field">

            
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="hero.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !hero.name">Name is required.</small>
      
      
      
      
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="hero.description" required rows="3" cols="20"></textarea>
        </div>
        <!--
        <div class="field">
            <label for="inventoryStatus">Inventory Status</label>
            <p-dropdown [(ngModel)]="hero.inventoryStatus" inputId="inventoryStatus" [options]="statuses">
                <ng-template pTemplate="selectedItem">
                    <p-tag [value]="hero.inventoryStatus.toUpperCase()" [severity]="getSeverity(hero.inventoryStatus.toUpperCase())"></p-tag>
                </ng-template>
                <ng-template let-option pTemplate="item">
                    <p-tag [value]="option.label" [severity]="getSeverity(option.label)"></p-tag>
                </ng-template>
            </p-dropdown>
        </div>
    -->
        <div class="field">
            <label class="mb-3">Category</label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6">
                    <p-radioButton id="category1" name="category" value="Mutant" [(ngModel)]="hero.category"></p-radioButton>
                    <label for="category1">Mutant</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton id="category2" name="category" value="NonHuman" [(ngModel)]="hero.category"></p-radioButton>
                    <label for="category2">NonHuman</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton id="category3" name="category" value="God" [(ngModel)]="hero.category"></p-radioButton>
                    <label for="category3">God</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton id="category4" name="category" value="Alien" [(ngModel)]="hero.category"></p-radioButton>
                    <label for="category4">Alien</label>
                </div>
            </div>
        </div>

        <!--
        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="hero.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="field col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="hero.quantity"></p-inputNumber>
            </div>
        </div>
    -->



 
       <!-- <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button> -->
      <!--  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveHero()"></button> -->
 

<!--</p-dialog> -->