<!-- <p-dialog [(visible)]="heroDialog" [style]="{ width: '450px' }" header="hero Details" [modal]="true" styleClass="p-fluid"> -->

  
 <br>
    <form [formGroup]="heroForm">

        <div class="field mt-3">
            <span class="p-float-label">
                <input class="p-inputtext-sm" pInputText id="username" formControlName="name" />
                <label htmlFor="username">Hero Name</label>
            </span>
        
        </div>
        
        <div class="field mt-5">
            <span class="p-float-label">
                    <textarea formControlName="description" id="float-input" rows="3" cols="20" pInputTextarea></textarea>
              <label for="float-input">Description</label>
            </span>
        </div>

        <!--
        <div class="field">
            <label for="inventoryStatus">Inventory Status</label>
            <p-dropdown [(ngModel)]="hero.inventoryStatus" inputId="inventoryStatus" [options]="statuses">
                <ng-template pTemplate="selectedItem">
                    <p-tag [value]="hero.inventoryStatus.toUpperCase()" [severity]="getSeverity(hero.inventoryStatus.toUpperCase())"></p-tag>
                </ng-template>
                <ng-template let-option pTemplate="item">
                    <p-tag [value]="option.label" [severity]="getSeverity(option.label)"></p-tag>
                </ng-template>
            </p-dropdown>
        </div>
    -->
    </form>